<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cj.customwidget">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".APP"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ScrollingActivity"
            android:label="@string/title_activity_scrolling"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".ASMActivity" />
        <activity android:name=".page.falling.FallingActivity" />
        <activity android:name=".page.opengl.CameraReviewActivity" />
        <activity android:name=".page.opengl.OpenGLActivity" />
        <activity android:name=".page.LooperRecyclerViewActivity" />
        <activity android:name=".page.viewmodel.VM2Activity" />
        <activity android:name=".page.CropMusicActivity" />
        <activity android:name=".page.viewmodel.VM1Activity" />
        <activity android:name=".page.ShadowActivity" />
        <activity android:name=".page.VideoCropSeekActivity" />
        <activity android:name=".MainActivity"
            android:configChanges="locale|layoutDirection|orientation|screenSize|fontScale"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Design.Light.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity2" />
    </application>

</manifest>